.syntax-highlighter {
  position: relative;
  width: 100%;
  display: flex;

  align-items: center;
}

.syntax-highlighter__code {
  border-radius: 0.5rem;
  overflow-x: auto;
  font-family: "Fira Code", "Monaco", "Menlo", "Ubuntu Mono", monospace;
  font-size: 0.75rem;
  line-height: 1.5;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3);
}

.syntax-highlighter__code pre {
  padding: 1rem;
  overflow-x: auto;
}
.syntax-highlighter__code:hover + .copy-code-button {
  opacity: 1;
}

.copy-code-button {
  opacity: 0.2;
  position: absolute;
  background: transparent;
  color: white;
  right: 0.5rem;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: background 0.3s ease, opacity 0.3s ease;
}

.copy-code-button:hover {
  opacity: 1;
  background: rgba(255, 255, 255, 0.3);
}

.syntax-highlighter__code pre::-webkit-scrollbar {
  height: 0.5rem;
}

.syntax-highlighter__code pre::-webkit-scrollbar-track {
  background: #2d2d2d;
  border-radius: 0.25rem;
}

.syntax-highlighter__code pre::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 0.25rem;
}

.syntax-highlighter__code pre::-webkit-scrollbar-thumb:hover {
  background: #666;
}
